@import "tailwindcss";

@theme{
    --color-dark:#1A1A1D;
    --color-medium:#3B1C32;
    --color-light: #6A1E55;
    --color-superLight: #A64D79;
}

@layer base{
    body{
        background-color: var(--color-dark);
        padding: 8px;
    }
}

@layer utilities{
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .customButton{
        @apply flex gap-1 items-center px-3 py-1 rounded-full transform-gpu transition-transform duration-200 hover:scale-[110%] hover:cursor-pointer flex-none text-white text-sm font-semibold;
    }
    .customSearchBar{
        @apply px-3 bg-light text-lg font-semibold py-1 w-full text-white selection:bg-superLight transform-gpu transition-transform duration-200 hover:scale-[101%] hover:cursor-pointer outline-0 rounded-full;
    }
    .iconSize{
        @apply w-5 h-5 text-white transform-gpu transition-transform duration-200 hover:scale-[150%] hover:cursor-pointer;
    }

    /* magic line transform-gpu transition-transform duration-200 hover:scale-[101%] hover:cursor-pointer */
}